/* line 5, ../../compass/sass/print.scss */
body {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  word-spacing: 1px;
  letter-spacing: 0.2px;
  font: 13px Georgia, "Times New Roman", serif;
  color: #000;
}

/* line 7, ../../compass/sass/print.scss */
a:link, a:visited {
  background: transparent;
  color: #000;
  text-decoration: none;
}

/* line 8, ../../compass/sass/print.scss */
a:link[href^="http://"]:after, a[href^="http://"]:visited:after {
  content: " (" attr(href) ") ";
  font-size: 11px;
}

/* line 9, ../../compass/sass/print.scss */
a[href^="http://"] {
  color: #000;
}

/* line 11, ../../compass/sass/print.scss */
p {
  margin-left: 18px;
}

/* line 15, ../../compass/sass/print.scss */
h1 {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

/* line 21, ../../compass/sass/print.scss */
h2 {
  font-size: 16px;
}

/* line 25, ../../compass/sass/print.scss */
h3 {
  font-size: 14px;
}

/* line 30, ../../compass/sass/print.scss */
h3 {
  font-size: 12px;
}
