/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */
/* line 17, ../../compass/sass/base/_ericMeyersReset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
/* line 29, ../../compass/sass/base/_ericMeyersReset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 32, ../../compass/sass/base/_ericMeyersReset.scss */
body {
  line-height: 1;
}

/* line 35, ../../compass/sass/base/_ericMeyersReset.scss */
ol, ul {
  list-style: none;
}

/* line 38, ../../compass/sass/base/_ericMeyersReset.scss */
blockquote, q {
  quotes: none;
}

/* line 42, ../../compass/sass/base/_ericMeyersReset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */
/* remember to highlight inserts somehow! */
/* line 53, ../../compass/sass/base/_ericMeyersReset.scss */
ins {
  text-decoration: none;
}

/* line 56, ../../compass/sass/base/_ericMeyersReset.scss */
del {
  text-decoration: line-through;
}

/* line 60, ../../compass/sass/base/_ericMeyersReset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../../compass/sass/base/_baseElements.scss */
html,
body {
  min-height: 100%;
  height: auto;
  width: 100%;
  font-family: Georgia, "Times New Roman", serif;
}

/* line 8, ../../compass/sass/base/_baseElements.scss */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fffff8), color-stop(25%, #f9f8f9));
  background-image: -webkit-linear-gradient(#fffff8, #f9f8f9 25%);
  background-image: -moz-linear-gradient(#fffff8, #f9f8f9 25%);
  background-image: -o-linear-gradient(#fffff8, #f9f8f9 25%);
  background-image: linear-gradient(#fffff8, #f9f8f9 25%);
}

/* line 12, ../../compass/sass/base/_baseElements.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #191919;
  margin-left:  0.5rem;
  margin-bottom:  1rem;
}

/* line 19, ../../compass/sass/base/_baseElements.scss */
p {
  margin-bottom:  1rem;
  color: #191919;
  margin-left:  0.5rem;
}

/* line 26, ../../compass/sass/base/_baseElements.scss */
dl, dt, dd {
  margin-bottom:  0.75rem;
  color: #191919;
}

/* line 31, ../../compass/sass/base/_baseElements.scss */
dt {
  text-decoration: underline;
}

/* line 35, ../../compass/sass/base/_baseElements.scss */
h1 {
  font-size:  1.375rem;
}

/* line 39, ../../compass/sass/base/_baseElements.scss */
h2 {
  font-size:  1.25rem;
}

/* line 44, ../../compass/sass/base/_baseElements.scss */
h3 {
  font-size:  1.125rem;
}

/* line 48, ../../compass/sass/base/_baseElements.scss */
h4 {
  font-size:  1rem;
}

/* line 52, ../../compass/sass/base/_baseElements.scss */
h5 {
  font-size:  0.875rem;
}

/* line 56, ../../compass/sass/base/_baseElements.scss */
h6 {
  font-size:  0.75rem;
}

/* line 60, ../../compass/sass/base/_baseElements.scss */
iframe {
  max-width: 100%;
}

/* line 64, ../../compass/sass/base/_baseElements.scss */
em {
  font-style: italic;
}

/* line 1, ../../compass/sass/layout/_body.scss */
#main-article {
  background-color: #f9f8f9;
  padding:  1rem;
}
@media only screen and (max-width: 1279px) {
  /* line 1, ../../compass/sass/layout/_body.scss */
  #main-article {
    width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 1, ../../compass/sass/layout/_body.scss */
  #main-article {
    width:  60rem;
    margin:  0px auto;
    margin: 0 auto;
  }
}

/* line 17, ../../compass/sass/layout/_body.scss */
.body-footer {
  font-size:  0.75rem;
  color: #c8c8c8;
}

/* line 22, ../../compass/sass/layout/_body.scss */
#main-header {
  background-color: #2c3e50;
  height:  3.75rem;
}

/* line 1, ../../compass/sass/layout/_header.scss */
#site-navigation {
  margin:  0px auto;
  max-width: 100%;
  property:  60rem;
  text-align: center;
}

/* line 9, ../../compass/sass/layout/_header.scss */
#main-navigation {
  display: inline-block;
}

/* line 10, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#faux-body-for-sticky-footer {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -85px;
}
/* line 18, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#faux-body-for-sticky-footer #footer-clear {
  height: 85px;
}

/* line 20, ../../../../lib/gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#main-footer {
  clear: both;
  position: relative;
  height: 85px;
}

/* line 8, ../../compass/sass/layout/_footer.scss */
#main-footer {
  background-color: #2c3e50;
}

/* line 1, ../../compass/sass/module/_vcards.scss */
.vcard {
  max-width: 70%;
  margin: 0 auto 12px;
}
@media only screen and (min-width: 500px) {
  /* line 1, ../../compass/sass/module/_vcards.scss */
  .vcard {
    margin:  0px 2rem 0.75rem;
    width:  18.75rem;
  }
}

/* line 12, ../../compass/sass/module/_vcards.scss */
.org {
  font-style: italic;
}

/* line 1, ../../compass/sass/module/_blockquotes.scss */
blockquote {
  text-align: center;
  width:  26.25rem;
  margin:  0 auto 1.5rem;
  max-width: 100%;
}

/* line 8, ../../compass/sass/module/_blockquotes.scss */
.blockquote-footer {
  margin-left:  0.75rem;
  text-align: right;
}

/* line 14, ../../compass/sass/module/_blockquotes.scss */
.blockquote-quote {
  margin:  0.75rem 0;
}
/* line 17, ../../compass/sass/module/_blockquotes.scss */
.blockquote-quote:before {
  content: "\201C";
}
/* line 21, ../../compass/sass/module/_blockquotes.scss */
.blockquote-quote:after {
  content: "\201D";
}

/* line 1, ../../compass/sass/module/_dottedlines.scss */
.thedottedline {
  float: left;
  width: 100%;
  margin-top:  1rem;
}
@media only screen and (min-width: 1280px) {
  /* line 1, ../../compass/sass/module/_dottedlines.scss */
  .thedottedline {
    max-width: 50%;
  }
}

/* line 12, ../../compass/sass/module/_dottedlines.scss */
.signature-line {
  height:  0.625rem;
  margin:  0.75rem 2rem;
  border-top: 1px dotted gray;
  width: 80%;
  clear: both;
  font-size:  0.625rem;
  color: gray;
}
/* line 22, ../../compass/sass/module/_dottedlines.scss */
.signature-line:before {
  content: "Signed Name";
}
/* line 26, ../../compass/sass/module/_dottedlines.scss */
.signature-line:after {
  content: "Date";
  float: right;
}

/* line 1, ../../compass/sass/module/_table.scss */
table {
  margin:  0px auto 0.75rem;
}

/* line 5, ../../compass/sass/module/_table.scss */
.table-hours {
  text-align: center;
}

/* line 8, ../../compass/sass/module/_table.scss */
th {
  text-decoration: underline;
}

/* line 12, ../../compass/sass/module/_table.scss */
tr {
  height:  1.25rem;
}

/* line 2, ../../compass/sass/module/_buttons.scss */
.admin-button,
.admin-button-disabled {
  display: table-cell;
  height:  6.25rem;
  width:  18.75rem;
  max-width: 100%;
  color: black;
  background-color: #7f8c8d;
  text-align: center;
  vertical-align: middle;
}

/* line 13, ../../compass/sass/module/_buttons.scss */
.admin-button-disabled {
  color: #7f8c8d;
  background-color: #bdc3c7;
}

/* line 18, ../../compass/sass/module/_buttons.scss */
.admin-button-container {
  float: left;
  margin:  0.625rem;
  clear: left;
}
@media only screen and (min-width: 1280px) {
  /* line 24, ../../compass/sass/module/_buttons.scss */
  .admin-button-container:nth-child(even) {
    clear: none;
  }
}

/* line 30, ../../compass/sass/module/_buttons.scss */
#admin-navigation {
  display: block;
  overflow: auto;
  margin:  0px auto;
  padding:  0px;
}
@media only screen and (max-width: 1279px) {
  /* line 30, ../../compass/sass/module/_buttons.scss */
  #admin-navigation {
    width:  20rem;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1280px) {
  /* line 30, ../../compass/sass/module/_buttons.scss */
  #admin-navigation {
    width:  40rem;
    max-width: 100%;
  }
}

/* line 49, ../../compass/sass/module/_buttons.scss */
.navigation-button {
  display: table-cell;
  height:  3.75rem;
  width:  9.375rem;
  color: black;
  background-color: #7f8c8d;
  text-align: center;
  vertical-align: middle;
}

/* line 59, ../../compass/sass/module/_buttons.scss */
.navigation-button-container {
  float: left;
}
